/* continer */

.container {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1025px) {
    .container {
        max-width: 900px;
    }
}

/* ===================== */

/* header */

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 19px;
    height: 70px;
}

.header-logo img.dark {
    width: 53%;
}

.header-logo img.white {
    display: none;
}

.header-nav {
    display: flex;
}

.header-nav ul {
    display: flex;
    gap: 40px;
}

.header-nav img {
    padding-right: 6px;
}

.header label {
    font-size: 2em;
    cursor: pointer;
    display: none;
}

.menu {
    display: none;
    background: #fff;
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 70px;
    z-index: 2;
    transition: all 0.5s;
}

.menu .menu_container {
    height: 100%;
    width: 95%;
    margin: 0 auto;
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.me .menu_container li {
    padding-top: 22px;
}

.city {
    display: flex;
    align-items: center;
    gap: 9px;
}

.city-number-user {
    display: flex;
    align-items: center;
    gap: 30px;
}

.city-menu {
    display: flex;
    gap: 7px;
}

.city a{
    cursor: pointer;
}

.user {
    display: flex;
    gap: 9px;
}

@media (max-width: 1025px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .header {
        position: relative;
        background-color: #00093C;
        padding: 0px 20px;
    }

    .header-logo img.dark {
        display: none;

    }

    .header-logo img.white {
        display: initial;
    }

    .header-nav {
        display: none;
    }

    .city-number-user {
        display: none;
    }

    .header label {
        display: initial;
    }

    .header .burger_menu i {
        color: white;
    }

    .menu {
        display: initial;
    }

    .menu_container li {
        padding-top: 22px;
    }

    .header .menu.inactive {
        top: -100vh;
    }

    .header .menu.active {
        top: 70px;
    }

}


/* ============================================ */

.heading-content {
    position: relative;
}

.header-img {
    width: 100%;
    height: auto;
    display: block;
}

.dark-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 54%;
    height: 100%;
    background: #00093C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: white;
}

.heading-text {
    max-width: 500px;
    margin-left: auto;
    margin-right: 115px;
    white-space: nowrap;

}

.heading-main-text,
.heading-main-text2,
.heading-mini-text {
    color: #FFF;
    font-family: Montserrat;
}

.heading-main-text {
    font-size: 36px;
    font-weight: 700;

}

.heading-main-text2 {
    padding-top: 20px;
    font-size: 36px;
    font-weight: 700;
    padding-top: 41px;
}

.heading-mini-text {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;
    padding-top: 41px;
}

.img1 {
    position: absolute;
    width: 10%;
    top: 20%;
    left: 10%;
}


.img2 {
    position: absolute;
    width: 39%;
    top: 80%;
    left: 10%;

}


.img3 {
    width: 10%;
    position: absolute;
    top: 80%;
    left: 65%;
}

.img4 {
    width: 10%;
    position: absolute;
    top: 7%;
    left: 95%;
}

.img5 {
    width: 31.6%;
    position: absolute;
    top: auto;
    left: 76.5%;
}

.img6 {
    width: 8.4%;
    position: absolute;
    top: 22%;
    left: 112.4%;
}

.img7 {
    width: 9%;
    position: absolute;
    top: 17%;
    left: 137%;
}

.img8 {
    width: 12%;
    height: 66%;
    position: absolute;
    top: 55%;
    left: 150%;
}




@media (max-width: 1025px) {
    .heading-content {
        display: flex;
        flex-direction: column;
    }

    .header-img {
        position: static;
    }

    .dark-side {
        position: static;
        width: 100%;
    }

    .heading-text {
        padding: 0px 20px;
    }

    .heading-main-text {
        font-size: 15px;
    }

    .heading-main-text2 {
        font-size: 15px;
        padding-top: 12px;
    }

    .heading-mini-text {
        font-size: 10px;
        padding-top: 12px;
    }


    .img4 {
        left: 82%;
    }

    .img5 {
        display: none;
    }

    .img6 {
        display: none;
    }

    .img7 {
        display: none;
    }

    .img8 {
        display: none;
    }
}

/* ////////// */


.flex-for {
    /* position: relative; */
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap: 30px;
}

.flex-for img {
    padding-right: 50px;
}

.for {
    padding-top: 25px;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}


.forEvery {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}


@media (max-width:1025px) {
    .flex-for {
        display: block;
        padding-left: 30px;
        padding-top: 20px;
    }

    .flex-for video{
       padding-left: 21%;
    }

    .sova-tablet {
        width: 50%;
        padding-bottom: 50px;
    }
 

    .circle{
        padding-top: 50px;
    }

    .triangle{
        padding-top: 50px;
    }
}

/* /// */

.video {
    padding-top: 50px;
}

.video-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./IMAGE/png.img/chel.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 780px;
    height: 436px;

}

.video_hover{
    transition: .7s;
}
.video_container:hover {
    width: 800px;
    height: 450px;
    transition: 0.7s;
    filter: drop-shadow(0px 0px 4px #00093C);
    border-radius:20px;
}

.fall {
    background-image: url(./IMAGE/png.img/dark-fall.png);
    position: absolute;
    z-index: 2;
    top: 0%;
    left: 14.5%;
    width: 780px;
    height: 436px;
}


.white-tringle {
    width: 8%;
    position: absolute;
    top: 92.8%;
    left: 20%;
}

.linia41 {
    width: 14%;
    position: absolute;
    top: 140%;
    left: 12%;
}

.linia42 {
    width: 16.1%;
    position: absolute;
    top: 102%;
    left: 70%;
}

.white-croos {
    width: 10%;
    position: absolute;
    top: 157%;
    left: 74%;
}



@media (max-width: 1025px) {

    .video {
        padding-left: 30px;
        padding-right: 30px;
    }

    .video-content {
        padding-top: 0px;
        padding-bottom: 0px;
        border-radius: 10px;
    }

    .video_container {
        width: 380px;
        height: 167px;
        border-radius: 10px;
    }

    .fall {
        display: none;
    }

    .TC4142-img {
        display: none;
    }

}



/* ///////// */


.Creator {
    padding-top: 90px;
}

.Creator-content {
    display: flex;
    gap: 120px;
}


.history-text {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.photos-creator {
    /* background-image: url(./IMAGE/png.img/unsplash_KIPqvvTOC1s.png); */
    width: 380px;
    height: 400px;
}

.photos-creator img {
    width: 100%;
    border-radius:20px
}

.person {
    display: flex;
    flex-direction: column;
}

.name-creator {
    padding-top: 25px;
}

.name {
    color: #5c5c5c;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.role {
    color: #6d6d6d;
    padding-top: 5px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}


@media (max-width:1025px) {

    .Creator {
        padding-top: 70px;

    }

    .Creator-content {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 10px 30px;
    }

    .photos-creator {
        background-repeat: no-repeat;
        width: 90%;
        height: 88%;
    }

    .photos-creator img {
        width: 69%;
    }
}

/* /// */


.values {
    padding-top: 70px;
    padding-bottom: 75px;
}

.our-values-text {
    color: #000;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}

.values-flex {
    display: flex;
    gap: 20px;
    padding-top: 35px;
}

.text-value {
    max-width: 210px;
    padding-top: 25px;
}


@media (max-width:1025px) {

    .values {
        padding-left: 30px
    }

    .values-flex {
        display: flex;
        flex-wrap: wrap;
    }
}

/* /////////// */

.splide {
    position: relative;
    width: auto;
    height: 500px;
    background-color: #00093C;
}


.splide__slide img{
    width: 22%;
}

.slider_croos {
    position: absolute;
    width: 5%;
    top: 14%;
    left: 10%;
}

.slider_line {
    position: absolute;
    width: 6%;
    top: 77%;
    left: 5%;
}

.slider_tringle {
    position: absolute;
    width: 6%;
    top: 16%;
    left: 90%;
}

.splide__arrows {
    background: none;
}

.splide__arrow svg {
    width: 70px;
    height: 70px;
}


.Cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    padding-top: 100px;

    gap: 20px;
}

.history-people {
    max-width: 399px;
    text-align: center;
}
.history-people  span {
    color:orange;
}


@media (max-width: 1025px) {
    .splide {
        height: 400px;
    }

    .Cards {
        padding-top: 70px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .splide__arrow {
        display: none;
        background: none;
    }
}

/* ///////////// */


.programms-content {
    padding-top: 80px;
}

.programms-text {
    color: #000;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}

.flex-programms {
    display: flex;
    gap: 20px;
    padding-top: 20px;
}

.text-programms {
    max-width: 180px;
}

/* /// */

.curs-statistic {
    font-family: Montserrat;
    font-size: 86px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 8.17px;
}


.flex-curs {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    gap: 122px;
}

@media (max-width:1025px) {

    .programms-content {
        padding-left: 30px;
        padding-right: 30px;
    }

    .flex-programms {
        display: block;

    }

    .programm-ctr {
        padding-top: 40px;
    }


    .flex-curs {
        display: block;
    }


    .programm-curs {
        padding-top: 25px;
    }
}



/* ///// */


.link {
    padding-bottom: 150px;
}

.parthers {
    padding-top: 105px;
}

.our-partner-text {
    color: #000;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px
}

.partner-row {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 30px;
}
.partner-card{
    transition: .7s;
}
.partner-card:hover {
    width: 190px;
    height: 130px;
    filter: drop-shadow(0px 0px 4px #00093C);
}

.mbank {
    width: 180px;
    height: 120px;
    border-radius: 20px;
    background-color: #fff;
    padding-top: 35px;

}

.mbank img {
    width: 88%;
    padding-left: 25px;
}


.it_academy {
    width: 180px;
    height: 120px;
    border-radius: 20px;
    background-color: #fff;

}

.it_academy img {
    width: 88%;
    padding-left: 25px;
}

.dodo_pizza {
    width: 180px;
    height: 120px;
    border-radius: 20px;
    background-color: #fff;
}

.dodo_pizza img {
    width: 83%;
    padding-left: 30px;
}

.beelien {
    width: 180px;
    height: 120px;
    border-radius: 20px;
    background-color: #fff;
}

.beelien img {
    width: 88%;
    padding-left: 30px;
    padding-top: 10px;
}


@media (max-width:1025px) {
    .partner-row {
        display: flex;
        flex-wrap: wrap;
    }

    .mbank {
        padding-top: 45px;
    }

    .it_academy {
        padding-top: 0px;
        padding-right: 10px;
    }

    .dodo_pizza {
        padding-top: 0px;
    }
}

/* /// */


.link {
    padding-top: 75px;
}

.press-text {
    color: #000;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}

.link-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
}

.it {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 280px;
    height: 160px;
    border-radius: 20px;
    background: #C7EEFF;
}


.it:hover {
    width: 300px;
    height: 180px;
    transition: 0.7s;
    filter: drop-shadow(0px 0px 4px #00093C);
}

.career {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 280px;
    height: 160px;
    border-radius: 20px;
    background: #FFE38E;
}


.career:hover {
    width: 300px;
    height: 180px;
    transition: 0.7s;
    filter: drop-shadow(0px 0px 4px #00093C);
}

.chess {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 280px;
    height: 160px;
    border-radius: 20px;
    background: #DDF;
}

.chess:hover {
    width: 300px;
    height: 180px;
    transition: 0.7s;
    filter: drop-shadow(0px 0px 4px #00093C);
}

.i-wanna {
    max-width: 118px;
    padding-top: 18px;
    color: var(--dark-blue, #00093C);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


@media (max-width:1025px) {
    .link {
        display: block;
        justify-content: center;
        align-items:center;
        padding-left: 32px;
    }

    .link-content {
        display: block;
        padding-left: 8px;
    }

    .it {
        width: 69%;
        margin-top: 40px;
    }
    
    .it:hover {
        width: 250px;
        height: 200px;
        transition: 0.7s;
        filter: drop-shadow(0px 0px 4px #00093C);
    }
    

    .career {
        width: 69%;
        margin-top: 40px;
    }

    .career:hover {
        width: 250px;
        height: 280px;
        transition: 0.7s;
        filter: drop-shadow(0px 0px 4px #00093C);
    }

    .chess {
        width: 69%;
        margin-top: 40px;
    }

    .chess:hover {
        width: 250px;
        height: 280px;
        transition: 0.7s;
        filter: drop-shadow(0px 0px 4px #00093C);
    }
    
}


@media (max-width:490px){
    .link-content{
        padding-left: 44.4px;
    }
}

/* /////////////// */


footer {
    width: auto;
    height: 600px;
    background: #00093C;
}

.footer-content {
    display: flex;
    gap: 60px;
}

.collum-navifation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;
}

.collum-navifation h4 {
    color: #FFF;
}

.collum-navifation img {
    width: 29%;
}

.apps {
    display: flex;
    gap: 20px;
}

.apps img {
    width: 10%;
}

.forkids {
    display: flex;
    flex-direction: column;
    max-width: 90px;
    padding-top: 30px;
}

.forkids h4 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.list {
    color: #FFF;
}

.list a {
    color: #FFF;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}



@media (max-width:1025px) {

    footer {
        height: auto;
    }

    .footer-content {
        display: block;
    }

    .collum-navifation {
        width: 50%;
        padding-left: 30px;
    }

    .collum-navifation h4 {
        font-size: 13px;
    }

    .forkids {
        padding-left: 30px;
    }

}




/* ////// */