.container {
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 19px;
}

.header-nav {
    display: flex;
}

.header-nav ul {
    display: flex;
    gap: 40px;
}

.header-nav img {
    padding-right: 6px;
}

.city {
    display: flex;
    align-items: center;
    gap: 9px;
}

.city-number-user {
    display: flex;
    align-items: center;
    gap: 30px;
}

.user {
    display: flex;
    gap: 9px;
}

.heading-content {
    position: relative;
}

.header-img {
    width: 100%;
    height: auto;
    display: block;
}

.dark-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 54%;
    height: 100%;
    background: #00093C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: white;
}

.heading-text {
    max-width: 500px;
    margin-left: auto;
    margin-right: 115px;
    white-space: nowrap;

}

.heading-main-text,
.heading-main-text2,
.heading-mini-text {
    color: #FFF;
    font-family: Montserrat;
}

.heading-main-text {
    font-size: 36px;
    font-weight: 700;

}

.heading-main-text2 {
    padding-top: 20px;
    font-size: 36px;
    font-weight: 700;
    padding-top: 41px;
}

.heading-mini-text {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;
    padding-top: 41px;
}

.img1 {
    position: absolute;
    width: 10%;
    top: 20%;
    left: 10%;
}


.img2 {
    position: absolute;
    width: 39%;
    top:  80%;
    left: 10%;

}


.img3 {
    width: 10%;
    position: absolute;
    top: 80%;
    left: 65%;
}

.img4 {
    width: 10%;
    position: absolute;
    top: 7%;
    left: 95%;
}

.img5 {
    width: 31.6%;
    position: absolute;
    top: auto;
    left: 76.5%;
}

.img6 {
    width: 8.4%;
    position: absolute;
    top: 22%;
    left: 112.4%;
}

.img7 {
    width: 9%;
    position: absolute;
    top: 17%;
    left: 137%;
}

.img8 {
    width: 12%;
    height: 66%;
    position: absolute;
    top: 55%;
    left: 150%;
}

/* ////////// */


.Greetings-content {}

.flex-for {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-left: 300px;
    gap: 30px;

}


.for {
    padding-top: 25px;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}


.forEvery {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}


.cloud-massage {
    position: absolute;
    top: 534px;
    left: 183px;
    color: #FFF;
    width: 230px;
    height: 170px;
    border-radius: 20px;
    border: 2px solid rgb(10, 0, 151);

}



.sova-massage {
    text-align: center;
    padding-top: 29px;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.sova {
    position: absolute;
    top: 90%;
    left: 10%;
    width: 9%;
    max-width: 300px;
}


/* /// */


.video-chel {
    position: relative;
}


.chel {
    position: absolute;
    z-index: 1;
    top: 202px;
    left: 150px;
}

.fall {
    position: absolute;
    z-index: 2;
    top: 202px;
    left: 150px;
}

.play {
    position: absolute;
    z-index: 3;
    top: 380px;
    left: 490px;
}

.white-tringle {
    width: 140px;
    position: absolute;
    top: 900px;
    left: 260px;
}

.linia41 {
    width: 190px;
    position: absolute;
    top: 1290px;
    left: 168px;
}

.linia42 {
    width: 210px;
    position: absolute;
    top: 1000px;
    left: 1110px;
}

.white-croos {
    width: 180px;
    position: absolute;
    top: 1370px;
    left: 1100px;
}

.chel-img{
    background-color:aquamarine;
}

/* ///////// */


.Me-content{
    background-color: ;
}

